body {
  background-color: #323232;
  margin: 0;
  color: #222;
}

body, p {
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  font-size: 15px;
}

h1 {
  font-family: "Alfa Slab One", serif;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #f5fffa;
  margin: 0;
}

h2 {
  font-family: "Alfa Slab One", serif;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  color: #222;
  margin: 0;
}

  .headline img {
    float: right;
    margin-left: 15px;
  }

  .headline h2 {
    position: relative;
    top: 5px;
  }

h3, h4 {
  font-family: "PT Serif", serif;
  margin: 0 0 10px 0;
  color: #222
}

input {
  margin: 0;
  background-color: white;
  border: 2px inset;
  color: #444;
  font-weight: normal;
  padding: 5px;
  width: 375px;
  height: 24px;
  font-size: 16px;
  box-shadow: 0 0 0 #000, inset 0 3px 3px #eee;
  border-radius: 3px;
  border: 1px solid #A0A0A0;
}

input.submit {
  background-color: inherit;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #222;
  box-shadow: none;
  background: url("../images/submit-icon-40.png") no-repeat;
  width: auto;
  padding-left: 45px;
  height: 40px;
  text-align: right;
  cursor: pointer;
  display: inline-block;
}

textarea {
  margin: 0;
  background-color: white;
  border: 2px inset;
  color: #444;
  font-weight: normal;
  padding: 5px;
  width: 375px;
  height: 125px;
  font-size: 16px;
  box-shadow: 0 0 0 #000, inset 0 3px 3px #eee;
  border-radius: 3px;
  border: 1px solid #A0A0A0;
}

form div {
  margin-bottom: 10px;
}

form label {
  width: 130px;
  text-align: right;
  display: inline-block;
  margin-right: 15px;
  line-height: 36px;
}

  form label.for-textarea {
    position: relative;
    top: -65px;
  }

.divider {
  height: 4px;
  width: 100%;
  background-color: #f5fffa;
}

.clear {
  clear: both;
}

#navigation {
  width: 1000px;
  margin: 8px auto 0px auto;
  height: 43px;
}

  #social-media-header {
    width: 200px;
    float: left;
    margin-top: 6px;
  }

    #social-media-header a {
      margin-right: 10px;
    }

  #menu {
    width: 800px;
    float: left;
    text-align: right;
  }

    #menu a {
      margin-left: 12px;
    }

#masthead {
  background: url("../images/asphalt.jpg");
}

  #logo_container {
    margin: 20px 0 10px 0;
    text-align: center;
  }

.row {
  margin: 20px auto;
  width: 1000px;
}

#main {
  color: #f5fffa;
}

  #main .left {
    width: 553px;
    float: left;
  }

    #video-container {
      border: solid 6px #f5fffa;
      border-radius: 6px;
      width: 537px;
      height: 301px;
    }

    #social-media {
      margin: 5px auto 0;
      padding: 5px;
      width: 537px;
    }

      .fb-like {
        height: 25px;
      }

  #main .right {
    width: 427px;
    margin-left: 20px;
    float: left
  }

    #call-to-action {
      border-left: solid 1px #555;
      padding-left: 20px;
    }

    #tshirt-container {
      float: right;
      margin: 0px 0px 20px 20px;
    }

        #tshirt-box {
          border: solid 4px #f5fffa;
          border-radius: 6px 6px 0px 0px;
          width: 180px;
          text-align: center;
          padding: 15px 0 10px 0;
        }

          #tshirt-box a {
            color: #f5fffa;
            font-size: 10px;
            text-decoration: none;
          }

          #tshirt-box a:hover {
            text-decoration: underline;
          }

        #kickstarter {
          border: solid 4px #f5fffa;
          border-top: none;
          border-radius: 0px 0px 6px 6px;
          background-color: #ff9a28;
          text-align: center;
          padding: 10px 0px 5px 0px;
        }

          #kickstarter a {
            display: block;
          }

#secondary {
  background: url("../images/asphalt.jpg");
}

  #secondary .row {
    margin: auto;
    padding: 20px 0px;
  }

  #secondary .left {
    width: 260px;
    float: left;
    background-color: #fff100;
    padding: 10px 0px;
    box-shadow: 4px 4px 20px #ccc inset, -4px -4px 20px #ccc inset;
    border-radius: 6px;
  }

    #secondary .left h2 {
      text-align: center;
    }

    #secondary .left div {
      font-weight: bold;
    }

      #secondary .left div span.date {
        color: #404000;
        text-align: right;
        font-weight: normal;
        font-size: 13px;
        width: 7em;
        display: block;
        float: left;
        padding-right: 5px;
        position: relative;
        top: 2px;
      }

      #secondary .left div span.home {
        font-size: 16px;
        font-weight: bold;
      }

      #secondary .left div span.away {
        color: #404000;
        font-weight: normal;
        font-size: 14px;
        display: none;
      }

  #secondary .right {
    width: 720px;
    margin-left: 20px;
    float: left;
  }

    #secondary .right .content-box {
      background-color: #f5fffa;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 4px 4px 20px #666 inset, -4px -4px 20px #666 inset;
      border-radius: 6px;
    }

    #secondary .right .content-box.last {
      margin-bottom: 0;
    }

    #latest-blog .blog-title {
      font-size: 16px;
      font-weight: bold;
    }

      .blog-post img {
        float: right;
        margin: 0 0 12px 12px;
      }

.button-container {
  text-align: right;
  margin-top: 25px;
  padding-right: 20px;
}

  .button-container img {
    width: 40px;
    height: 40px;
  }

  .button-container a, .button-container a:visited {
    font-size: 16px;
    font-weight: bold;
    color: #222;
    text-decoration: none;
  }

  .button-container a:hover {
    text-decoration: underline;
  }

    .button-container a span {
      position: relative;
      top: -14px;
      left: 8px;
    }


  #favorite-photos-container {

  }

    #favorite-photos-container .favorite-photo {
      width: 148px;
      margin: 0px 10px;
      float: left;
    }

      #favorite-photos-container .favorite-photo .title {
        font-weight: bold;
      }

      #favorite-photos-container .favorite-photo .shared-by {
        font-size: 9px;
        font-style: italic;
      }

#footer {
  height: 30px;
  width: 1000px;
  margin: auto;
}

#hidden-content {
  display: none;
}

  #tshirt-menu {
    text-align: center;
    margin: 20px auto 0px auto;
  }

  #contact-us {
    width: 600px;
  }
